.header {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #272727;
  align-items: center;
  padding: 0 70px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 15px #1b3e61da;

  .header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
    }

    .selected {
      color: #facbdc;
      transform: scale(1.1);
    }

    span {
      color: whitesmoke;
      font-size: 20px;
      padding: 10px;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        color: #e30b5c;
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;

    .header__dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #8f8f8f;
      padding: 10px;
      border-radius: 10px;
      color: whitesmoke;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .header__connectBtn {
      background-color: #4f5758;
      color: white;
      padding: 15px 30px;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.3s ease;

      font-size: 20px;

      &:hover {
        background-color: #ffa0c2;
      }
    }
  }
}

.ant-dropdown-menu {
  background-color: whitesmoke !important;
}

.header__dropdownItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;

  img {
    width: 30px;
    height: 30px;
  }
}
